.drc{
    width: 1000px;
    height: 1200px;
    background-color: rgb(241, 242, 246);
    padding-bottom: 30px;
    margin: auto;
}
.directory{
    width: 100%;
    padding: 20px 0px 10px 50px;
    height: 300px;
    border-bottom: 2px solid springgreen;

}
.directory form{
    margin: 0px;
    padding: 0px;
}
.directory form label{
    font-size: 20px;
}
.directory form select{
    width: 200px;
    height: 30px;
    font-size: 20px;
}
.directory form input{
    width: 200px;
    height: 30px;
    font-size: 20px;
}
.directory form button{
    margin-left: 100px;
    width: 100px;
    height:30px ;
    font-size: 20px;
    line-height: 30px;
    background-color: seashell;
}
/*hcjsv*/
.listdirectory{
    width: 100%;
    float: left;
    padding: 30px 30px 30px 50px;
  
}
.title{
    width: 100%;
    height: 100px;
   
    color: rgb(100, 45, 25);
    margin-bottom: 20px;
    background-color: rgba(240, 217, 217, 0.856);
}
.title-left{
    height: 100px;
    width: 500px;
    text-align: center;
   padding-top: 20px;
    float: left;
    font-size: 30px;
}
.title-right{
    height: 100px;
    width: 500px;
    text-align: center;
   padding-top: 20px;
    float: right;
    font-size: 20px;
}
.title-right ul{
   width: 100%;
}
.title-right ul li{
    display: inline;
    margin-right: 25px;
    background-color: rgb(238, 238, 203);
    border: 1px solid rgb(235, 210, 210);
    
}
.title-right ul li a{
    text-decoration: none;
   
}
.title-right ul li a:hover{
    background-color: rgb(210, 210, 245);
}
.title-right ul li a i{
    border-right: 1px solid rgb(37, 31, 31);
    width: 40px;
}
.title-right ul li a span{
   padding-right: 5px;
}

.wiget{
    width: 80%; 
    margin: auto;
}
.wiget-title{
    width: 100%;
    height: 50px;
    background-color: blanchedalmond;
    line-height: 50px;
    padding-right: 30px;
    font-size: 25px;
    border: 1px solid rgb(188, 238, 213);
}
.wiget-title p{
    float:right;
}

.wiget-body{
    width: 100%;
    background-color: rgb(245, 243, 240);
    border: 1px solid rgb(188, 238, 213);
}
table {
    width:100% ;
}
tr{
    height: 30px;
    border: 1px solid rgb(188, 238, 213);
}
td{
    text-align: center;
    font-size: 20px;
    border: 1px solid rgb(188, 238, 213);
    
}

/* add directory */ 
.wiget-bodi {
    width: 100%;
    background-color: rgb(245, 243, 240);
    border: 1px solid rgb(188, 238, 213);
    padding: 20px 0px 20px 50px;
}
.wiget-bodi label{
    font-size: 20px;
    color: chocolate;
    margin-right:250px;
}
.wiget-bodi .ip{
    width: 250px;
    height: 30px;
    margin-right: 125px;
    font-size: 20px;
}
.wiget-bodi button{
    float:right;
    width: 150px;
    height: 30px;
    font-size: 20px;
    background-color: cornflowerblue;
    border: cyan 1px solid;
    margin-right: 100px;
}
