*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin:0 auto;
    width:100%;
}
/*-----------------------*/
header{
    background-color: #d3eefc;
    height: 100px;
}
/*-----------------------*/
section{
    background-color:#ccc;
    display:flex;
    padding:2% 5% ;
}
nav{
    width:23%;
    background-color: #fff;
    height:100%;
    
}
/*-------Menu------------------*/
#menu{
    border-bottom:1px solid black;
    padding:5% 3%;
}

ul li{
    list-style-type:none;
    padding:8px 25px;    
}
ul li a{
    text-decoration: none;
    color:#00e;
}
#menu-c2 li{
    margin-left:10%;
}
#icon{
    float:right;

}
#icon-right{
    margin-right:10px;
}
/*---------Menu C2---------------*/
#menu-c2{
    overflow: auto;
    height:200px;
}
#menu-c2{
    display:none;
}
 #menu-c2 li a:focus{
    color:#00e;
}
#menu-c2 li a:checked{
    color:#00e;
}














/*-----------------------*/
.content{
    width:100%;
    margin-left:2%;
    background-color: burlywood;
    height: 100%;
    padding:3%;
}
/*-------------Thông tin bài đăng-----------------*/
#info{
    display:flex;
    text-align: center;
    line-height:50px;
}
#infomation{
    margin-left: 10%;
    font-size:20px;
}
#name-post{
    background-color:#fff;
    width: 100%;
    height: 20%;
   
}
#info-user{
    width: 100%;
    margin-top:15%;
    display:flex;
}
#name,#cost{
    background-color:bisque;
    width: 200px;
    height: 50px;
}
#phone,#place{
    background-color:bisque;
    width: 200px;
    margin-left:60px;
    height: 50px;
}
/*--------------------*/
/*-----------Mô tả----------*/
.description{
    width:100%;
   
    text-align: justify;
    line-height: 30px;
    padding-bottom:50px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    
}
/*-------------Bình Luận --------------*/
.comment{
    width:80%;
    background-color: coral;
    padding:3%;
    position: relative;
    
}
#user{
    display:flex;
}
#user-comment{
    margin:5% 0% 3% 9%;
    display:grid;
    grid-template-columns: 60px 500px ;
    grid-template-rows: 45px 100% ;
    text-align: justify;
}
#img-user{
    grid-column: 1/2;
}
#name-user{
    margin-left: 10px;
}
#comment-user{
    margin-left:70px;
   
}






/*----------------------------------------------------------*/
footer{
    background-color:cadetblue;
    height:200px;
}