*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin:0 auto;
    width:100%;
}
/*-----------------------*/
header{
    background-color: #d3eefc;
    height: 100px;
}
/*-----------------------*/
section{
    background-color:#ccc;
    display:flex;
    padding:2% 5% ;
}
nav{
    width:23%;
    background-color: #fff;
    height:500px;
    
}
/*-------Menu------------------*/
#menu{
    border-bottom:1px solid black;
    padding:5% 3%;
}

ul li{
    list-style-type:none;
    padding:8px 25px;    
}
ul li a{
    text-decoration: none;
    color:#00e;
}
#menu-c2 li{
    margin-left:10%;
}
#icon{
    float:right;

}
#icon-right{
    margin-right:10px;
}
/*---------Menu C2---------------*/
#menu-c2{
    overflow: auto;
    height:200px;
}
#menu-c2{
    display:none;
}
 #menu-c2 li a:focus{
    color:#00e;
}
#menu-c2 li a:checked{
    color:#00e;
}














/*-----------------------*/
.content{
    width:100%;
    margin-left:2%;
    background-color: burlywood;
    height: 100%;
    padding:3%;
}
/*-------------Thông tin bài đăng-----------------*/
.info{
    display:flex;
    text-align: center;
    line-height:50px;
}
#name-post{
    background-color:chartreuse;
    width: 100%;
    height: 20%;
    margin-left: 25px;
}
#info-user{
    width: 100%;
    margin-top:47px;
    margin-left: 25px;
    
    display:flex;
}
#name,#cost{
    background-color:blue;
    width: 200px;
    height: 50px;
}
#phone,#place{
    background-color:red;
    width: 200px;
    margin-left:60px;
    height: 50px;
}
/*--------------------*/
/*-----------Mô tả----------*/
.description{
    width:100%;
    height: 100%;
    text-align: justify;
    line-height: 30px;
    padding-bottom:50px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    
}
/*-------------Bình Luận --------------*/
.comment{
    width:80%;
    height: 50px;
    background-color: coral;
    padding:3%;
}


footer{
    background-color:cadetblue;
    height:200px;
}