
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   /* font-family: Sofia, sans-serif;*/
}
html{
    height: 100%;
    background-repeat:no-repeat;
    background-size:cover;
   

}
body{
    width:2000;
    margin:0 auto;
    display: flex;
}
.header{width: 100%;height: 300px;}
.header .top-bar{ width: 100%; 
    height: 90px;
    background-color:#d3eefc;
    float: left;
    line-height: 90px;
}
.header .top-bar .tab-user{
    width: 15%;
    float: left;
    height: 90px;
    margin-left: 333px;
    font-size: 20px;
}
.header .top-bar .tab-user a{
    text-decoration: none;
    float: left;
    height: 90px;
    margin-left: 20px;
}
.header .top-bar .tab-user a img{
    margin-top: 20px;
  
}
.header .top-bar .tab-user i{
    margin-left: 20px;
    float: left;
    font-size: 20px;
    margin-top: 37px;
}
.header .top-bar .tab-user a:hover{
    color: #2b8fff;
}
.header .top-bar .tab-user a:active{
    color: #ee1e1e;
}
.header .top-bar .menu-bar{ width: 20%;
    float: right;
    height: 90px;
    font-size: 20px;
margin-right: 400px;}

 .header .top-bar .menu-bar a{
     text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
 }
 .header .top-bar .menu-bar i{margin-right: 5px;}
.header .top-search{
    width: 100%;
    height: 200px;
    background-color: #f6f6f6;
    float: left; 
    padding-left: 500px ;
 
}

.header .top-search .logo{
    width: 200px;
    float: left;
    padding-top: 30px;
}

.header .top-search .box-searh{
    width: 450px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    float: left;
    margin: 70px 0px 50px 100px;
  }
 
  .header .top-search .box-searh .icon{
    position: absolute;
    top: 2%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #0b82f1;
    padding-right: 7px;
    border-right: 1px solid #2b8fff;
  }
  .header .top-search .box-searh input#search:hover, .box-searh input#search:focus, .box-searh input#search:active{
    outline:none;
    background: #ffffff;
  }
  .header .top-search .box-searh input#search{
    width: 300px;
    height: 50px;
    background: #d3eefc;
    border: none;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
     
      -webkit-transition: background .55s #031226;
    -moz-transition: background .55s #031226;
    -ms-transition: background .55s#031226;
    -o-transition: background .55s #031226;
    transition: background .55s #031226;
  }
  .header .top-search .box-searh .button{
      width: 100px;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;
      float: left;
      margin-left: 5px;
  }
  .header .top-search .box-searh .button button{
      width: 100px;
      height: 50px;
      border-radius: 5px;
      background-color: rgb(105, 140, 246);
      color: rgb(30, 32, 29);
      border: none;
}
.header .top-search .button button:hover, .button button:focus, .button button:active{
    outline:none;
    background: #0cc6f5;
  }

.footer{
    width: 100%;
    height: 100px;
    background-color: #b7dff3;
    margin-top: 10px;
    text-align: center;
    font-family: vivaldi,sans-serif;
    line-height: 100px;
}
.footer h1{
    font-family: vivaldi,sans-serif;
    font-size: 50px;
    color: #5ac3ec;
}




