
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   /* font-family: Sofia, sans-serif;*/
}
html{
    height: 100%;
    background-repeat:no-repeat;
    background-size:cover;
   

}
body{
    width:2000;
    margin:0 auto;
    display: flex;
}
.header{width: 100%;height: 300px;}
.header .top-bar{ width: 100%; 
    height: 90px;
    background-color:#3fb7f3;
    float: left;
    line-height: 90px;
    padding-left: 413px;
    padding-right: 500px;
}
.header .top-bar .tab-user{
    width: 15%;
    float: left;
    height: 90px;
    font-size: 20px;
}
.header .top-bar .tab-user a{
    text-decoration: none;
    margin-right: 10px;
}
.header .top-bar .tab-user a:hover{
    color: burlywood;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding-top: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-bottom: rgb(194, 175, 175) solid 1px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.header .top-bar .menu-bar{
     width: 400px;
    float: right;
    height: 90px;
    font-size: 20px;
}

 .header .top-bar .menu-bar a{
     text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
 }
 .header .top-bar .menu-bar i{margin-right: 5px;}
.header .top-search{
    width: 100%;
    height: 200px;
    background-color: #f6f6f6;
    float: left; 
    padding-left: 500px ;
 
}

.header .top-search .logo{
    width: 200px;
    float: left;
    padding-top: 30px;

}

.header .top-search .box-searh{
    width: 450px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    float: left;
    margin: 70px 0px 50px 100px;
  }
 
  .header .top-search .box-searh .icon{
    position: absolute;
    top: 2%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #0b82f1;
    padding-right: 7px;
    border-right: 1px solid #2b8fff;
  }
  .header .top-search .box-searh input#search:hover, .box-searh input#search:focus, .box-searh input#search:active{
    outline:none;
    background: #ffffff;
  }
  .header .top-search .box-searh input#search{
    width: 300px;
    height: 50px;
    background: #d3eefc;
    border: none;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
     
      -webkit-transition: background .55s #031226;
    -moz-transition: background .55s #031226;
    -ms-transition: background .55s#031226;
    -o-transition: background .55s #031226;
    transition: background .55s #031226;
  }
  .header .top-search .box-searh .button{
      width: 100px;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;
      float: left;
      margin-left: 5px;
  }
  .header .top-search .box-searh .button button{
      width: 100px;
      height: 50px;
      border-radius: 5px;
      background-color: rgb(105, 140, 246);
      color: rgb(30, 32, 29);
      border: none;
}
.header .top-search .button button:hover, .button button:focus, .button button:active{
    outline:none;
    background: #0cc6f5;
  }

.footer{
    width: 100%;
    height: 100px;
    background-color: #2e59e7;
    margin-top: 10px;
    text-align: center;
    font-family: vivaldi,sans-serif;
    line-height: 100px;
}
.footer h1{
    font-family: vivaldi,sans-serif;
    font-size: 50px;
    color: #f5903e;
}
.mainnn{
    min-height: 700px;
}
/* noi dung trong trang*/

.main{width: 1116px;
    margin: auto;
    min-height: 1500px;
   }
.directory{
    width: 100%;
    height: 600px;
    margin: auto;
    background-color: #cff15f;
    float: left;
    margin-top: 10px ;
}
.row{
    width: 100%;
    height: 285px;
    margin: 10px 0px 10px 0px;
}
.colums{
    width: 210px;
    height: 285px;
    float: left;
    margin: auto;
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
   
}
.colums .image{
    width: 210px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: right;
    float: right;
}
.colums .nd{
width: 200px;
height: 140px;
margin: auto;
float: right;

}
.colums .nd h4{
    margin: 8px 0px 5px 15px;
}
.colums .nd p{
    margin: 0px 0px 3px 30px ;
}
.producttt{
    width: 100%;
    margin: auto;
    display: block;
    background-color: #f3f9fa;
    float: left;
    margin-top: 20px;
    padding-bottom: 15px;
}
.producttt .title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin:auto;
    background-color: darkgoldenrod;
    border: darkgray 1px solid;
    padding-left: 50px;
}

.colum-d3{
    width: 265px;
    height: 300px;
    float: left;
    margin: auto;
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    margin-top:  20px;
   
}
.colum-d3 .image-d1{
    width: 255px;
    height: 220px;
   float: left;
   margin: auto;
}
.colum-d3 .image-d2{
    width: 255px;
    height: 65px;
    margin-bottom: 10px;
    background-color: rgb(255, 250, 255);
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
}
.colum-d3 .image-d1 img{
        width: 255px;
        height: 220px;
}
.colum-d3 .image-d2 p{
    width: 100%;
    font-size: 20px;
    height: 20px;
    margin-top: 5px;
}

/*trang Post*/
.mid{
    width: 1000px;
    min-height: 1200px;
    margin: auto;
    background-color: rgb(185, 184, 181);
    padding-bottom: 50px;
    color: #3e77fa;
}
.mid .mid-title{
    width: 1000px;
    height: 150px;
    text-align: center;
    
    line-height: 150px;
    font-size: 30px;
}
.mid .mid-content{
    min-height: 1050px;
    padding-top: 30px;
}
.mid .mid-content .mct-form{
    min-height: 1050px;
    margin: auto;
    width: 960px;
}
.tit{
    width: 960px;
   
}
.txt{
    width: 100%;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.inp{
    width: 100%;
    min-height: 60px;
}
.inp input{
    height: 40px;
    width: 960px;
    font-size: 20px;
}
.inp textarea{
    width: 100%;
    height: 200px;
    font-size: 20px;
}
.inp .asd{
    width: 300px;
}
.inp span{
    font-size: 20px;
    margin-left: 10px;
}
.tit .drt{
    width: 300px;
    font-size: 30px;
}
.tit .btn{
    text-align: center;
    width: 100%;
    margin-top: 100px;
}
.tit .btn button{
    width: 500px;
    height: 50px;
    font-size: 30px;
    background-color: seagreen;
}
/* thong tin ca  nhan */
.profile{
    height: 1100px;
    width: 1000px;
    margin: auto;
    background-image: url(../images/tuong.jpg);
    padding-top: 30px;
    background-repeat: no-repeat;

}

.heder{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color: rgb(62, 101, 231);
}
 .img{
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 5px;
    margin-top: 15px;
}
.img img{
    width:200px;
    height:200px;
    border-radius:50%;
}
 .info{
    width: 500px;
    height: 70px;
    font-size: 22px;
    margin:auto;
    border-bottom: 2px  solid rgb(7, 236, 121);
    margin-top: 10px;
    padding-top: 35px;
    color: #07e0d6;
}
 .img button{
    width: 500px;
    margin: auto;
    height: 50px;
    font-size: 25px;
    color: rgb(12, 88, 209);
    margin-top: 50px;
    background-color: rgb(160, 213, 243);
    border-radius: 5px;
    
}

/* bai viet ca nhan*/
.listdirectory{
    width: 100%;
    clear: right;
    padding: 30px 30px 30px 50px;
}
.title{
    width: 100%;
    height: 100px;
    color: rgb(100, 45, 25);
    background-color: rgba(240, 217, 217, 0.856);
}
.title-left{
    height: 100px;
    width: 500px;
    text-align: center;
     padding-top: 30px;
    float: left;
    font-size: 30px;
}
.title-right{
    height: 100px;
    width: 500px;
    padding-top: 30px;
    float: right;
    font-size: 25px;
}
.title-right ul{
    width: 100%;
}
.title-right ul li{
    margin-right: 20px;
    background-color: rgb(250, 244, 237);
    border: 1px solid tan;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.title-right ul li a{
    text-decoration: none;
}
.title-right ul li a i{
    margin-right: 5px;
    border-right: 1px solid black;
    width: 35px;
    text-align: center;
}
.wiget{
    width: 100%; 
    margin: auto;
}
.wiget-title{
    width: 100%;
    height: 50px;
    background-color: blanchedalmond;
    line-height: 50px;
    padding-right: 30px;
    font-size: 25px;
    border: 1px solid rgb(188, 238, 213);
}
.wiget-title p{
    float:right;
}

.wiget-body{
    width: 100%;
    background-color: rgb(245, 243, 240);
    border: 1px solid rgb(188, 238, 213);
}
table {
    width:100% ;
}

tr{
    height: 30px;
    border: 1px solid rgb(188, 238, 213);
}
td{
    text-align: center;
    font-size: 20px;
    border: 1px solid rgb(188, 238, 213);
    
}
td img{
    width: 220px;
    height: 220px;
}
td .abc{
    width: 100%;
    height: 50px;
    display: flex;
}

nav{
    width: 100%;
    height: 50px;
}
nav .pagination{   
          display: flex; 
        width: 100%;    
}
nav page-item{
    height: 50px;
    line-height: 50px;
    margin: auto;
    
}
nav ul li{
    border: 1px solid rgb(219, 246, 233);
    background-color: rgb(246, 241, 232);
}
.alert{
    width: 1800px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(62, 166, 250);
    color: #df0808;
    margin: auto;
}
/* edit profile */

.edit{
    width: 70%;
    height: 120px;
    margin: auto;
    color: #0897cf;

}
.edit label{
    font-size: 30px;
}
.edit .abc{
    width: 100%;
    height: 80px;
    margin-bottom: 5px;
}
.edit .abc input{
    width: 100%;
    height: 40px;
    font-size: 25px;
    background-color: #fbf7f7;
}
.edit .abc span{
    min-width: 50%;
    font-size: 20px;
    color: rgb(101, 241, 76);
}
.mesage{
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: darkcyan;
    background-color: rgb(233, 21, 21);
}