
.main{width: 1116px;
    margin: auto;
    height:2000px;
   }
.directory{
    width: 100%;
    height: 600px;
    margin: auto;
    background-color: #e5ebf0;
    float: left;
}
.row{
    width: 100%;
    height: 285px;
    margin: 10px 0px 10px 0px;
}
.colums{
    width: 210px;
    height: 285px;
    float: left;
    margin: auto;
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
   
}
.colums .image{
    width: 210px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: right;
    float: right;
}
.colums .nd{
width: 200px;
height: 140px;
margin: auto;
float: right;

}
.colums .nd h4{
    margin: 8px 0px 5px 15px;
}
.colums .nd p{
    margin: 0px 0px 3px 30px ;
}