
.main{width: 1116px;
    margin: auto;
    height:2000px;
   }
.directory{
    width: 100%;
    height: 600px;
    margin: auto;
    background-color: #e5ebf0;
    float: left;
    margin-top: 10px ;
}
.row{
    width: 100%;
    height: 285px;
    margin: 10px 0px 10px 0px;
}
.colums{
    width: 210px;
    height: 285px;
    float: left;
    margin: auto;
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
   
}
.colums .image{
    width: 210px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: right;
    float: right;
}
.colums .nd{
width: 200px;
height: 140px;
margin: auto;
float: right;

}
.colums .nd h4{
    margin: 8px 0px 5px 15px;
}
.colums .nd p{
    margin: 0px 0px 3px 30px ;
}
.producttt{
    width: 100%;
    height: 1370px;
    margin: auto;
    display: block;
    background-color: #e5ebf0;
    float: left;
    margin-top: 20px;
}
.producttt .title{
    width: 95%;
    height: 50px;
    line-height: 50px;
    margin:auto;
}
.colum-d3{
        width: 265px;
        height: 275px;
        float: left;
    margin: auto;
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
   
}
.colums .image-d3{
    width: 255px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: right;
    float: right;
}