.mid{
    width: 1000px;
    height: 1500px;
    margin: auto;
    background-color: rgb(239, 241, 248);
}
.mid .mid-title{
    width: 1000px;
    height: 150px;
    text-align: center;
    
    line-height: 150px;
    font-size: 30px;
}
.mid .mid-content{
    height: 1350px;
    padding-top: 30px;
}
.mid .mid-content .mct-form{
    height: 1350px;
    margin: auto;
    width: 960px;
}
.tit{
    width: 960px;
    margin-bottom: 20px;
}
.txt{
    width: 100%;
    font-size: 30px;
    margin-bottom: 5px;
}
.inp{
    width: 100%;
}
.inp input{
    height: 40px;
    width: 960px;
    font-size: 20px;
}
.inp textarea{
    width: 100%;
    height: 100px;
    font-size: 20px;
}
.inp .asd{
    width: 300px;
}
.inp span{
    font-size: 20px;
    margin-left: 10px;
}
.tit .drt{
    width: 300px;
    font-size: 30px;
}
.tit .btn{
    text-align: center;
    width: 100%;
    margin-top: 100px;
}
.tit .btn button{
    width: 500px;
    height: 50px;
    font-size: 30px;
    background-color: seagreen;
}

