.profile{
    height: 1000px;
    width: 1200px;
    margin: auto;
    background-color: rgb(240, 242, 248);
    padding-top: 30px;
}
.nav-left{
    width: 500px;
    height: 800px;
}
.nav-left .heder{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: rgb(230, 136, 14);
}
.nav-left .img{
    width: 100%;
    height: 160px;
    text-align: center;
    padding-top: 5px;
    margin-top: 15px;
}
.nav-left .img img{
    width:150px;
    height:150px;
    border-radius:50%;
}
.nav-left .info{
    width: 400px;
    height: 50px;
    font-size: 22px;
    margin-left: 50px;
    border-bottom: 2px  solid rgb(7, 236, 121);
    line-height: 50px;
    margin-top: 10px;
}
.nav-left .img button{
    width: 50%;
    margin: auto;
    height: 40px;
    font-size: 25px;
    color: rgb(224, 88, 9);
    margin-top: 20px;
    background-color: rgb(160, 213, 243);
    border-radius: 5px;
}
.form-info {
    display: none;
}